#
###### pip3.9 install -r requirements.txt --upgrade #####
#
###### Requirements without Version Specifiers ######
bottle
tinydb
gunicorn
asyncio
datetime

###### Requirements with Version Specifiers ######
