#
###### pip3.9 install -r requirements.txt --upgrade #####
#
###### Requirements without Version Specifiers ######
bottle
tinydb
asyncio
gunicorn
datetime

###### Requirements with Version Specifiers ######
